:root {
    --public-bg-page_section-dark-accent: linear-gradient(to top, var(rgb(0, 0, 0, .32)), transparent 400px);
}

* {
    margin: 0;
    padding: 0;
    font-family: Menlo, Cascadia Code, Consolas, Liberation Mono, monospace;
    ;
}

/* Navigation bar styles */
.navbar {
    background-color: #0e0f0f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: 700;
    font-family: Menlo, Cascadia Code, Consolas, Liberation Mono, monospace;

}

.navbar-logo span {
    color: #ffffff;

}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: inline;
    margin-right: 20px;
}

.navbar-links li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.navbar-links li a:hover {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 15px #636363;
    }
}

.hero {
    height: calc(95vh - 40px - 0px);
    background-color: #0e0f0f;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    width: 80%;
    height: 60vh;
    left: 25vh;
    top: 30vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container a,
button {
    width: 350px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;

    background: -webkit-linear-gradient(315deg, rgb(133, 78, 223) 0%, #df1a55 100%, #714dc5 20%);
    border-radius: 18px;
    border: none;
    outline: none;
    transition: 0.07s ease-in;
    margin-bottom: 10px;
    font-family: Menlo, Cascadia Code, Consolas, Liberation Mono, monospace;
    color: white;


}

.container button:hover {
    border: 2px solid #321d55;
    background: -webkit-linear-gradient(315deg, #9158ee 0%, #9577e7 100%, #1f0f44 20%);
    color: black;

}

.hero-text {
    position: relative;
    min-height: 354px;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.hero-text h1 {
    margin-bottom: 0;
    font-size: 80px;
    line-height: 1;

}

.Done {
    color: #a26ff3;
    margin-top: 60px;
}

.footer {
    height: 10px;
    width: 100%;
    bottom: 0;
    background: -webkit-linear-gradient(315deg, rgb(133, 78, 223) 0%, #df1a55 100%, #714dc5 20%);
}

.side {
    position: absolute;
    background-image: url(editor-console-c07bce02.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 30vh;
    right: 0;
    top: 40vh;
}

.side2 {
    position: absolute;
    background-image: url(editor-terminal-fce5588b.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 30vh;
    right: 100px;
    top: 30vh;
}

.side3 {
    position: absolute;
    background-image: url(editor-preview-8a14e8a8.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 30vh;
    right: 150px;
    top: 26vh;
}

.sign-up {
    height: 98vh;
    background: radial-gradient(158.14% 123.77% at 50% 113.71%, #2b3346 0%, #1a1e2a 57.76%, #131720 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-cont {
    margin: 40px;
    width: 60%;
    height: 50vh;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    font-family: Menlo, Cascadia Code, Consolas, Liberation Mono, monospace;
}

.s-cont span {
    font-weight: normal;
    font-size: 20px;
}

.cp {
    background: #252c3f;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: Menlo, Cascadia Code, Consolas, Liberation Mono, monospace;
}

.carousel {
    /* display: inline-block; */
    /* position: absolute; */
    /* top: 38vh;
    left: 0px; */
}

.slide {
    position: absolute;
    width: 1200px;
    opacity: 0;
    transition: opacity 1.5s;
    display: flex;
    align-items: baseline;

}

.slide h1 {
    left: 0;
}